@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(assets/fonts/NotoSansKR-Thin.woff2) format('woff2'), url(assets/fonts/NotoSansKR-Thin.woff) format('woff'),
        url(assets/fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(assets/fonts/NotoSansKR-Light.woff2) format('woff2'), url(assets/fonts/NotoSansKR-Light.woff) format('woff'),
        url(assets/fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(assets/fonts/NotoSansKR-Regular.woff2) format('woff2'), url(assets/fonts/NotoSansKR-Regular.woff) format('woff'),
        url(assets/fonts/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(assets/fonts/NotoSansKR-Medium.woff2) format('woff2'), url(assets/fonts/NotoSansKR-Medium.woff) format('woff'),
        url(assets/fonts/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(assets/fonts/NotoSansKR-Bold.woff2) format('woff2'), url(assets/fonts/NotoSansKR-Bold.woff) format('woff'),
        url(assets/fonts/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(assets/fonts/NotoSansKR-Black.woff2) format('woff2'), url(assets/fonts/NotoSansKR-Black.woff) format('woff'),
        url(assets/fonts/NotoSansKR-Black.otf) format('opentype');
}

body {
    font-family: 'Noto Sans KR';
}
div,
span {
    font-family: 'pretendard';
    font-size: 1rem;
}
.editable-cell {
    position: relative;
}

.editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

[data-theme='dark'] .editable-row:hover .editable-cell-value-wrap {
    border: 1px solid #434343;
}

.table-row-light {
    background-color: #ffffff;
}

.table-row-lightblue {
    background-color: #eff5ff;
}

.custom-search-input input {
    font-size: 12px;
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }

    body {
        margin: 1.6cm; /* 1.6cm은 일반적인 프린트 마진입니다. 필요에 따라 조절해주세요. */
    }

    /* 모달 내용을 프린트할 컨테이너에 스타일을 적용해주세요. */
    .print-container {
        page-break-inside: avoid; /* 페이지 나눔 방지 */
        padding: 2cm; /* 모달 내용의 여백을 조절해주세요. */
    }
}

.con_table {
    width: 100%;
    padding-right: 11px;
    overflow-y: auto;
    direction: ltr;
    background: #fff;
}

.con_table .table {
    width: 100%;
    padding-right: 11px;
}

.con_table .table tr:hover td,
.con_table .table tr.on td {
    background: #f2f6fc;
}

.con_table .table tr th {
    border-top: 3px solid #a9c0ff;
    border-bottom: 1px solid #a9c0ff;
    background-color: #64a5f5;
    font-family: 'SUIT';
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
}

.con_table .table tr td {
    padding: 10px 2px;
    border-bottom: 1px solid #a9c0ff;
    font-family: 'SUIT';
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    color: #111111;
    vertical-align: middle;
}

.con_table .table tr th {
    font-weight: 700;
}

.con_table .table tr td {
    font-weight: 500;
}

.con_table .table tr td:not(:first-child) {
    font-weight: 500;
    border-left: 1px solid #a9c0ff;
}

.con_table .table .t_blue {
    color: #155eb6;
}

.cop_table.scrollbar {
    padding-right: 7px;
    border-radius: 0;
}

.cop_table.scrollbar + .cop_table {
    margin-top: 30px;
}

.cop_table .table tr th,
.cop_table .table tr td {
    padding: 12.5px 2px;
}

/* 스크롤 바 전체 */
.con_table::-webkit-scrollbar {
    width: 4px;
    border-radius: 8px;
    height: calc(100% - 40px);
}

/* 스크롤 막대 */
.con_table::-webkit-scrollbar-thumb {
    width: 4px;
    height: 60%;
    background-color: #3895fd;
    border-radius: 8px;
}

/* 스크롤 여백 */
.cop_table::-webkit-scrollbar-track {
    background-color: #dce0e8;
    border-radius: 8px;
}

/* 높이 */
.height80 {
    height: 80px;
}

.height90 {
    height: 90px;
}

.height110 {
    height: 110px;
}

.height120 {
    height: 120px;
}

.height130 {
    height: 130px;
}

.height140 {
    height: 140px;
}

.height150 {
    height: 150px;
}

.height160 {
    height: 160px;
}

.height175 {
    height: 175px;
}

.height180 {
    height: 180px;
}

.height200 {
    height: 200px;
}

.height240 {
    height: 240px;
}

.height300 {
    height: 300px;
}

.height330 {
    height: 330px;
}

.height360 {
    height: 360px;
}

.height400 {
    height: 400px;
}

.height700 {
    height: 700px;
}

.height750 {
    height: 750px;
}

#components-grid-demo-flex [class~='ant-row'] {
    background: rgba(128, 128, 128, 0.08);
}
